body {
    background: lightgray;
    display :flex;
    flex-direction : column;

}
li{
    background-color : white;
    display : flex;
    justify-content : center;
    margin : 10px;
    padding : 10px;
    width: fit-content;;
    border-radius : 10px;
    gap : 20px;
}
form{
    background-color : white;
    display : flex;
    padding : 10px;
    margin : 10px;
    border-radius : 10px;
    width : auto;
}
form div{
    display : flex;
    margin : 10px;
}
form button {
    background-color :dodgerblue;
    border-color:white;
    border-radius : 10px;
    margin-left: auto;
}
form input,select{
    border-radius : 5px;
}

